In [22]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv("C:\\Users\\lenovo\\Downloads\\train.csv.zip" , usecols=['X1','X2'])
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [24]:
data.shape

(4209, 2)

In [25]:
# One hot Encoding
pd.get_dummies(data
              ).shape

(4209, 71)

In [26]:
len(data['X1'].unique())

27

In [27]:
len(data['X2'].unique())

44

In [28]:
for col in data.columns:
    print(col,':',len(data[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels

In [29]:
# count and frequency encoding 
# our aim is to replace each label of the categorial variable by the count ,
# this is the amount of times each label appears in the dataset. or the 
# frequency , this is the percentage of observations within that category,the 2 are equivalent.


data.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'y': 11,
 'ap': 11,
 'x': 10,
 'aw': 8,
 'h': 6,
 'at': 6,
 'q': 5,
 'al': 5,
 'an': 5,
 'p': 4,
 'ah': 4,
 'av': 4,
 'au': 3,
 'j': 1,
 'l': 1,
 'am': 1,
 'ar': 1,
 'af': 1,
 'aa': 1,
 'c': 1,
 'o': 1}

In [30]:
data_frequency_map = data.X2.value_counts().to_dict()

In [31]:
data.X2 = data.X2.map(data_frequency_map)
data.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

In [ ]:
# adavantages 
# 1. it is very simple to implement
# 2. Does not increase the feature dimensional space

# disadvantages 
# 1. if some of the labels have the same count , then they will be replaced with the same count
# and they will loose some valuable information
# 2.adds somewhat arbitrary numbers, and therefore weights to the different labels ,
# they may not be related to their predictive power

# https://www.kaggle.com/general/16927